<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/base.css" />
    <link rel="stylesheet" href="./static/sign.css" />
    <link rel="shortcut icon" href="static/tru-logo.png" type="image/x-icon" />
    <title>Register</title>
  </head>
  <body>
    <form action="{{ url_for('register') }}" method="post">
      <!-- Caption -->
      <h3 id="caption">Register</h3>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}
      <!-- Name Input -->
      <div class="input-container">
        <label for="name">Name </label><br />
        <input type="text" id="name" name="name" required /><br />
      </div>
      <br />

      <!-- Email Input -->
      <div class="input-container">
        <label for="email">Email </label><br />
        <input
          type="email"
          id="email"
          class="label"
          name="email"
          required
        /><br />
      </div>
      <br />

      <!-- Password Input -->
      <div class="input-container">
        <label for="password">Password </label><br />
        <input type="password" id="password" name="password" required /><br />
      </div>
      <br />
      <!-- 
        Birthdate Input
        <div class="input-container">
            <label for="birthday">Birth Date </label><br>
            <input type="date" id="birthday"><br>
        </div>
        <br> -->

      <!-- Submit Button -->
      <input type="submit" value="Register" id="btn"/>
      <a href="{{ url_for('signIn') }}">Sign In</a>
      <!-- <input type="submit" value="Register" id="btn"> -->
    </form>
  </body>
</html>
